<section class="section-features">

  <div class="row">

    <div class="col-1-of-4">
      <div class="features-box">
        <i class="fas fa-globe"></i>
        <h3 class="heading-tiertiary u-margin-bottom-small">Explore the world</h3>
        <p class="features-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, reiciendis minus.</p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="features-box">
        <i class="far fa-compass"></i>
        <h3 class="heading-tiertiary u-margin-bottom-small">Meet nature</h3>
        <p class="features-box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, libero neque?</p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="features-box">
        <i class="far fa-map"></i>
        <h3 class="heading-tiertiary u-margin-bottom-small">Find your way</h3>
        <p class="features-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, hic sit!</p>
      </div>
    </div>
    <div class="col-1-of-4">
      <div class="features-box">
        <i class="far fa-heart"></i>
        <h3 class="heading-tiertiary u-margin-bottom-small">Live a heathier life</h3>
        <p class="features-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, rerum repellendus?</p>
      </div>

    </div>

  </div>
</section>
