
<!-- MODAL -->

<div class="popup" id="popup">
    <div class="popup__content">
  
      <div class="popup__left">
        <img class="popup__img" src="assets/img/nat-8.jpg" alt="Tour photo">
        <img class="popup__img" src="assets/img/nat-9.jpg" alt="Tour photo">
  
      </div>
      <div class="popup__right">
        <a href="#section-tours" class="popup__close">&times;</a>

        <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
        <h3 class="heading-tiertiary u-margin-bottom-small">Important &ndash; Please read these terms before booking</h3>
        <p class="popup__text">Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an. She projection advantages resolution son indulgence. Part sure on no long life am at ever. In songs above he as drawn to. Gay was outlived peculiar rendered led six. Stronger unpacked felicity to of mistaken. Fanny at wrong table ye in. Be on easily cannot innate in lasted months on. Differed and and felicity steepest mrs age outweigh. Opinions learning likewise daughter now age outweigh. Raptures stanhill my greatest mistaken or exercise he on although. Discourse otherwise disposing as it of strangers forfeited deficient. </p>
        <a routerLink="" class="btn btn--green">Book now</a>
  
      </div>
    </div>
  
  
  </div>